.container {
  width: 100%;
  height: 100%;
}

.word-input-container{
  border: 1px solid black;
  padding: 32px;
  border-radius: 8px;
}

ion-input{
  --padding-start: 16px;
  margin: 16px 0px;
  border-radius: 24px;
  border: 1px solid black;
  height: 48px;
}

ion-item{
  margin: 16px 0px;
  height: 48px;
  border: 1px solid black;
  border-radius: 24px;
}

p{
  padding: 8px 0px;
  margin: auto;
}

.success{
  color: green;
}

.failure{
  color: red;
}

ion-button{
  margin: auto;
}

ion-textarea{
  min-height: 250px;
  border: 1px solid black;
}
