<div class="container">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <div class="word-input-container">
          <ion-row>
            <ion-label>Add Word to DB</ion-label>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Enter Word" [(ngModel)]="word"></ion-input>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-select interface="popover" placeholder="Word Type" [(ngModel)]="wordType">
                  <ion-select-option value="noun">Noun</ion-select-option>
                  <ion-select-option value="verb">Verb</ion-select-option>
                  <ion-select-option value="adjective">Adjective</ion-select-option>
                  <ion-select-option value="adverb">Adverb</ion-select-option>
                  <ion-select-option value="pronoun">Pronoun</ion-select-option>
                  <ion-select-option value="preposition">Preposition</ion-select-option>
                  <ion-select-option value="conjunction">Conjunction</ion-select-option>
                  <ion-select-option value="determiner">Determiner</ion-select-option>
                  <ion-select-option value="exclamation">Exclamation</ion-select-option>
                </ion-select>
              </ion-item>        
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-button (click)="addWordToDB()">Add to DB</ion-button>
          </ion-row>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <div class="word-input-container">
        <ion-row>
          <ion-label>Find Word from DB</ion-label>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-select interface="popover" placeholder="Word Type" (ionChange)="getWordFromDB(value)" [(ngModel)]="selectedWordType">
                <ion-select-option value="noun">Noun</ion-select-option>
                <ion-select-option value="verb">Verb</ion-select-option>
                <ion-select-option value="adjective">Adjective</ion-select-option>
                <ion-select-option value="adverb">Adverb</ion-select-option>
                <ion-select-option value="pronoun">Pronoun</ion-select-option>
                <ion-select-option value="preposition">Preposition</ion-select-option>
                <ion-select-option value="conjunction">Conjunction</ion-select-option>
                <ion-select-option value="determiner">Determiner</ion-select-option>
                <ion-select-option value="exclamation">Exclamation</ion-select-option>
              </ion-select>
            </ion-item>        
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-select interface="popover" placeholder="Select Word" [(ngModel)]="selectedWord">
                <ion-select-option *ngFor="let dbWordOutput of dbWordOutputs" value="{{dbWordOutput}}">{{dbWordOutput}}</ion-select-option>
              </ion-select>
            </ion-item>        
          </ion-col>
        </ion-row>
        <ion-row>
          <p *ngIf="foundWord" class="success">Found words!</p>
          <p *ngIf="!foundWord" class="failure">Couldnt find any words!</p>
        </ion-row>
        <ion-row>
          <ion-button (click)="useSelectedWord()">Use selected word</ion-button>
        </ion-row>
      </div>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-textarea #textarea placeholder="Enter more information here..." [(ngModel)]="wordString"></ion-textarea>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row>
    <ion-button (click)="submitToBackend()">Submit</ion-button>
  </ion-row>
  </ion-grid>
</div>